.e34_2 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1878px;
	height:4020px;
	position:absolute;
	overflow:hidden;
}
.e34_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(1.0000000591389835, 46.000001057982445, 101.00000157952309, 1);
	width:1878px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e34_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(1.0000000591389835, 46.000001057982445, 101.00000157952309, 1);
	width:1878px;
	height:605px;
	position:absolute;
	left:0px;
	top:3415px;
}
.e34_5 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:227px;
	height:69px;
	position:absolute;
	left:267px;
	top:3484px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e34_6 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:227px;
	height:69px;
	position:absolute;
	left:1481px;
	top:3484px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e34_9 { 
	background-color:rgba(64.74609375, 118.55733186006546, 207.1875, 1);
	width:135px;
	height:55px;
	position:absolute;
	left:760px;
	top:20px;
	border-top-left-radius:55px;
	border-top-right-radius:55px;
	border-bottom-left-radius:55px;
	border-bottom-right-radius:55px;
}
.e34_10 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:404px;
	height:55px;
	position:absolute;
	left:412px;
	top:20px;
	border-top-left-radius:55px;
	border-top-right-radius:55px;
	border-bottom-left-radius:55px;
	border-bottom-right-radius:55px;
}
.e34_63 { 
	color:rgba(139.18750405311584, 139.18750405311584, 139.18750405311584, 1);
	width:341px;
	height:46px;
	position:absolute;
	left:427px;
	top:22px;
	font-family:Inder;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e34_69 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:363px;
	height:305px;
	position:absolute;
	left:172px;
	top:3573px;
	font-family:Jaldi;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e34_70 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:363px;
	height:382px;
	position:absolute;
	left:1413px;
	top:3573px;
	font-family:Jaldi;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e34_71 { 
	width:1878px;
	height:415px;
	position:absolute;
	left:0px;
	top:95px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e34_75 { 
	color:rgba(0, 0, 0, 1);
	width:1568px;
	height:121px;
	position:absolute;
	left:155px;
	top:620px;
	font-family:Inter;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}
.e34_76 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:85px;
	position:absolute;
	left:116px;
	top:855px;
	font-family:Inter;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e35_77 { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:85px;
	position:absolute;
	left:442px;
	top:855px;
	font-family:Inter;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e35_78 { 
	color:rgba(0, 0, 0, 1);
	width:487px;
	height:85px;
	position:absolute;
	left:921px;
	top:851px;
	font-family:Inter;
	text-align:center;
	font-size:70px;
	letter-spacing:0;
}
.e35_79 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:170px;
	position:absolute;
	left:1594px;
	top:851px;
	font-family:Inter;
	text-align:center;
	font-size:70px;
	letter-spacing:0;
}
.e35_112 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:61px;
	position:absolute;
	left:142px;
	top:1123px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_113 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:61px;
	position:absolute;
	left:140px;
	top:1309px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_114 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:61px;
	position:absolute;
	left:138px;
	top:1495px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_11 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:61px;
	position:absolute;
	left:138px;
	top:1682px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_12 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:61px;
	position:absolute;
	left:138px;
	top:1884px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_20 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:61px;
	position:absolute;
	left:138px;
	top:2078px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_14 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:61px;
	position:absolute;
	left:138px;
	top:2261px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_15 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:61px;
	position:absolute;
	left:138px;
	top:2439px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_16 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:61px;
	position:absolute;
	left:138px;
	top:2626px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_17 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:61px;
	position:absolute;
	left:138px;
	top:2816px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_18 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:61px;
	position:absolute;
	left:138px;
	top:2999px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_19 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:61px;
	position:absolute;
	left:138px;
	top:3186px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_115 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:61px;
	position:absolute;
	left:1134px;
	top:1123px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_21 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:61px;
	position:absolute;
	left:1134px;
	top:1682px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_22 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:61px;
	position:absolute;
	left:1134px;
	top:1872px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_23 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:61px;
	position:absolute;
	left:1134px;
	top:2078px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_24 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:61px;
	position:absolute;
	left:1134px;
	top:2261px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_25 { 
	color:rgba(0, 0, 0, 1);
	width:62px;
	height:61px;
	position:absolute;
	left:1134px;
	top:2439px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_26 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:61px;
	position:absolute;
	left:1136px;
	top:2626px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_27 { 
	color:rgba(0, 0, 0, 1);
	width:26px;
	height:61px;
	position:absolute;
	left:1134px;
	top:2816px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_28 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:61px;
	position:absolute;
	left:1134px;
	top:2999px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_29 { 
	color:rgba(0, 0, 0, 1);
	width:31px;
	height:61px;
	position:absolute;
	left:1134px;
	top:3186px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_116 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:61px;
	position:absolute;
	left:1131px;
	top:1309px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_117 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:61px;
	position:absolute;
	left:1135px;
	top:1501px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_118 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:61px;
	position:absolute;
	left:448px;
	top:1123px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_119 { 
	color:rgba(0, 0, 0, 1);
	width:324px;
	height:61px;
	position:absolute;
	left:401px;
	top:1305px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_120 { 
	color:rgba(0, 0, 0, 1);
	width:277px;
	height:61px;
	position:absolute;
	left:419px;
	top:1495px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_2 { 
	color:rgba(0, 0, 0, 1);
	width:381px;
	height:61px;
	position:absolute;
	left:380px;
	top:1682px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_3 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:61px;
	position:absolute;
	left:401px;
	top:1874px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_4 { 
	color:rgba(0, 0, 0, 1);
	width:246px;
	height:61px;
	position:absolute;
	left:425px;
	top:2078px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_5 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:61px;
	position:absolute;
	left:425px;
	top:2261px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_6 { 
	color:rgba(0, 0, 0, 1);
	width:486px;
	height:61px;
	position:absolute;
	left:337px;
	top:2442px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_7 { 
	color:rgba(0, 0, 0, 1);
	width:394px;
	height:61px;
	position:absolute;
	left:380px;
	top:2622px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_8 { 
	color:rgba(0, 0, 0, 1);
	width:532px;
	height:61px;
	position:absolute;
	left:314px;
	top:2812px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_9 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:61px;
	position:absolute;
	left:419px;
	top:2999px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_10 { 
	color:rgba(0, 0, 0, 1);
	width:379px;
	height:61px;
	position:absolute;
	left:368px;
	top:3186px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_121 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1138px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_122 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1495px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_31 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1682px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e35_123 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1316px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_36 { 
	color:rgba(0, 0, 0, 1);
	width:117px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1138px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_37 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1495px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_38 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1682px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_41 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:61px;
	position:absolute;
	left:1609px;
	top:2078px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_42 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:61px;
	position:absolute;
	left:1609px;
	top:2261px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_43 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:61px;
	position:absolute;
	left:1609px;
	top:2439px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_45 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:61px;
	position:absolute;
	left:1609px;
	top:2812px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_47 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:61px;
	position:absolute;
	left:1609px;
	top:3192px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_46 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:61px;
	position:absolute;
	left:1609px;
	top:3002px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_44 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:61px;
	position:absolute;
	left:1609px;
	top:2622px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_40 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1872px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_39 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:61px;
	position:absolute;
	left:1609px;
	top:1316px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e38_57 { 
	background-color:rgba(0, 0, 0, 1);
	width:6px;
	height:2520px;
	position:absolute;
	left:1498px;
	top:816px;
}
.e38_49 { 
	width:256px;
	height:71px;
	position:absolute;
	left:1119px;
	top:13px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_51 { 
	width:209px;
	height:64px;
	position:absolute;
	left:1517px;
	top:20px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_53 { 
	width:55px;
	height:53px;
	position:absolute;
	left:824px;
	top:21px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_55 { 
	background-color:rgba(0, 0, 0, 1);
	width:6px;
	height:2520px;
	position:absolute;
	left:291px;
	top:816px;
}
.e38_56 { 
	background-color:rgba(0, 0, 0, 1);
	width:6px;
	height:2520px;
	position:absolute;
	left:857px;
	top:816px;
}
.e38_58 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:1070px;
}
.e38_59 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:1259px;
}
.e38_60 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:1432px;
}
.e38_61 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:1620px;
}
.e38_62 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:1807px;
}
.e38_63 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:2010px;
}
.e38_64 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:2198px;
}
.e38_65 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:2371px;
}
.e38_66 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:2552px;
}
.e38_69 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:3115px;
}
.e38_67 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:2746px;
}
.e38_68 { 
	background-color:rgba(0, 0, 0, 1);
	width:1719px;
	height:3px;
	position:absolute;
	left:80px;
	top:2936px;
}
.e38_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:435px;
	position:absolute;
	left:534px;
	top:3484px;
}
.e38_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:435px;
	position:absolute;
	left:1375px;
	top:3484px;
}
.e38_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:435px;
	position:absolute;
	left:1813px;
	top:3484px;
}
.e38_71 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1px;
	height:435px;
	position:absolute;
	left:119px;
	top:3484px;
}
